@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #f1f3f4;
}

.border-r {
  border-right: 1px solid #dadada !important;
}

.container {
}

.menu {
  transform: translateX(-100%);
}

.menuMobileShow {
  animation: show 0.5s both;
  -webkit-animation: show 0.5s both;
}

@keyframes show {
  from {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.submenu.open {
  max-height: 500px; /* Hoặc giá trị tối ưu cho chiều cao submenu */
}

header {
  box-shadow: 0 0 10px #aaa;
}

.file-button {
  display: inline-block;
  padding: 6px 12px;
  background-color: #ccc;
  border: none;
  color: #fff;
  cursor: pointer;
}
.file-button input[type="file"] {
  display: none;
}

.boxShadow {
  box-shadow: 0 0 10px #aaa;
}
